body
{
background:#FFFFFF;
color:#000000;
}

A:link { text-decoration: none; color: #6EA5C5 }
A:visited { text-decoration: none; color: #6EA5C5 }
A:hover { text-decoration: none; color: #AEC5FF }

.newstable{
width:500;
}

.newstable-subject{
padding-top: 20px;
padding-bottom:6px;
}

.newstable-content{
padding-top:0px;
padding-bottom:10px;
}

.newslink-table{
width:100%;
border-top:#6787AC
dotted thin;
border-bottom:#6787AC
dotted thin;
}

.newsdate{
font-family: Verdana, Arial, 'Times New Roman', serif;
font-weight:bold;
font-size:11px;
text-indent:0px;
color:#333333;
}

.newssubject{
font-family: Verdana, Arial, 'Times New Roman', serif;
font-weight:bold;
font-size:15px;
color:#444444;
}

A.newsswitch-link:link { text-decoration: none; color: #6EA5C5 }
A.newsswitch-link:visited { text-decoration: none; color: #6EA5C5 }
A.newsswitch-link:hover { text-decoration: none; color: #AEC5FF }

.newsswitch-link{
font-family: Verdana, Arial, 'Times New Roman', serif;
font-size:14px;
color: #5E85B5;
}

A.newsmail:link { text-decoration: none; color: #6EA5C5 }
A.newsmail:visited { text-decoration: none; color: #6EA5C5 }
A.newsmail:hover { text-decoration: none; color: #AEC5FF }

A.newsmail{
font-family: Verdana, Arial, 'Times New Roman', serif;
font-size:11px;
}

A.comments-text:link { text-decoration: none; color: #6EA5C5 }
A.comments-text:visited { text-decoration: none; color: #6EA5C5 }
A.comments-text:hover { text-decoration: none; color: #AEC5FF }

.comments-text{
font-family: Verdana, Arial, 'Times New Roman', serif;
font-weight:italic;
font-size:12px;
}

.content{
font-family: Verdana, Arial, 'Times New Roman', serif;
font-size:12px;
color:#111111;
}

.disabled{
font-family: Verdana, Arial, 'Times New Roman', serif;
font-size:12px;
color:#999999;
}

.title {
font-family: Verdana, Arial, 'Times New Roman', serif;
font-size:31px;
color:#4444AA;
}

.sidetext {
font-family: Verdana, Arial, 'Times New Roman', serif;
font-size:16px;
color:#444444;
}

.spacetable{
width=600
}

.spacetable-cell{
padding:30px
}

.mainspacing{
padding-left:30px
}

A.copyright:link { text-decoration: none; color: #6EA5C5 }
A.copyright:visited { text-decoration: none; color: #6EA5C5 }
A.copyright:hover { text-decoration: none; color: #AEC5FF }

.copyright {
font-family: Verdana, Arial, 'Times New Roman', serif;
font-weight:bold;
letter-spacing:-1px;
font-size:10px;
color:#5E85B5;
}

.skill-lv {
font-family: Verdana, Arial, 'Times New Roman', serif;
font-size:12px;
color:#9999CC;
}

.skill-sp {
font-family: Verdana, Arial, 'Times New Roman', serif;
font-size:12px;
color:#CC9999;
}

.main_subtitle {
font-family: Verdana, Arial, 'Times New Roman', serif;
font-style:bold;
font-size:18px;
color:#CC9999;
}

.main_title {
font-family: Verdana, Arial, 'Times New Roman', serif;
font-style:bold;
font-size:22px;
color:#6EA5C5;
}

/*
     FILE ARCHIVED ON 22:48:13 Apr 08, 2003 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:53:36 Jun 18, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/